.navbar {
  width: 95%;
  margin: 1.5rem auto 0 auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  border-radius: 45px;
  background-color: #efe9e3;
}

.logo {
  position: relative;
  width: 5.5rem;
  height: auto;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 3rem;
}
.navbar li {
  cursor: pointer;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-right img {
  width: 1.6rem;
}
.navbar .active {
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

.basket-container {
  position: relative;
}
.basket-container .dot {
  position: absolute;
  min-width: 12px;
  min-height: 12px;
  background-color: #ff1414;
  border-radius: 8px;
  top: 17px;
  right: 17px;
}
