.footer {
  width: 98%;
  margin: 3rem auto 1rem auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: flex-end; /* Align the footer content to the right */
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  width: auto;
}

.footer-button {
  font-size: 1.1rem;
  background-color: #eebdbe;
  border: 1.5px solid black;
  border-radius: 50px;
  padding: 0.3rem 1rem;
  color: black;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links ul {
  display: flex;
  font-size: 1.1rem;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-hr {
  width: 100%;
  border: none;
  border-top: 1px solid #000;
}

/* -------------------------Media Query-----------------------*/
@media (min-width: 1201px) {
  /* Add your styles for screens larger than 1200px here */
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Add your styles for screens between 1025px and 1200px here */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Add your styles for screens between 769px and 1024px here */
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .footer {
    display: none;
  }
}
