.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 98%;
  min-width: 98%;
  margin: 2rem auto;
  padding: 1.5rem 3rem;
  border: 3px solid black;
  border-radius: 25px;
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  gap: 80px;
}
.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  margin-bottom: 5px;
  cursor: pointer;
}
.footer-content-left p,
.footer-content-center p,
.footer-content-right p {
  margin-bottom: 5px;
}
.text-logo {
  padding: 10px 25px;
  border-radius: 50px;
  border: solid 2px black;
  background-color: #336633;
  box-shadow: -8px 8px 0px black;
  font-size: 1.2rem;
}
.social-icons {
  margin-top: 20px;
}
.social-icons img {
  width: 35px;
  margin-right: 10px;
}
/* -------------------------Media Query-----------------------*/
@media (min-width: 1201px) {
  /* Add your styles for screens larger than 1200px here */
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Add your styles for screens between 1025px and 1200px here */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Add your styles for screens between 769px and 1024px here */
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .footer {
    display: none;
  }
}
