.menu-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.menu-text {
  text-align: left;
  padding-right: 1rem;
  line-height: 1rem;
  width: 70%;
  margin: 1rem auto;
}

.counter-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-to-cart-button {
  padding: 2px 20px;
  cursor: pointer;
  background-color: #fc0230;
  color: black;
  border: solid black;
  border-radius: 30px;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.counter-container {
  border: solid 2px black;
  background-color: #fc0230;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.add-button,
.remove-button {
  background-color: transparent;
  border: none;
  padding: 2px 19px;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: none;
}

.item-counter {
  color: black;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  font-size: 1rem;
}

.item-description {
  font-size: 0.9rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  color: grey;
}
hr {
  width: 70%;
  border: 1px solid grey;
}
