/* color-Palette
#0084e3 blue
#fc0230 red
#eee3d2 off-White
#eebdbe Rosa
#284c13 green
 */

.explore-restaurants {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 25px;
}

.explore-restaurants-title {
  padding-left: 35px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-family: "Baking-Sauce";
  letter-spacing: -2px;
  line-height: 4.5rem;
  font-size: 3.5rem;
  color: #eebdbe;
  text-shadow: -5px 5px 0px black;
  -webkit-text-stroke: 0.2px black;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #eee3d2;
}
.category-buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.category-buttons-wrapper button {
  padding: 5px 20px;
  border-radius: 20px;
  border: solid 2px black;
  background-color: #eebdbe;
  box-shadow: -2px 2px 0px black;
  font-size: 1rem;
  transition: box-shadow 0.1s ease;
  cursor: pointer;
}

.restaurants-grid {
  overflow: hidden;
  display: grid;
  width: 94%;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  gap: 1rem;
  row-gap: 1rem;
}

.restaurant-cell {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.restaurant-cell-img {
  width: 240px;
  height: auto;
  border: solid 2.5px black;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: -2px 2px 0px black;
}

.button-restaurant-name {
  width: 90%;
  padding: 5px 0px;
  border-radius: 20px;
  border: solid 2px black;
  background-color: #fc0230;
  box-shadow: -2px 2px 0px black;
  font-size: 1rem;
  transition: box-shadow 0.1s ease;
}

.button-restaurant-name:active {
  box-shadow: none;
}

.category-tag {
  padding: 5px 20px;
  border-radius: 20px;
  border: solid 2px black;
  background-color: #eebdbe;
  box-shadow: -2px 2px 0px black;
  position: absolute;
  font-size: 1rem;
  top: 15px;
  left: 30px;
}
