/* color-Palette
#0084e3 blue
#ff1414 red
#f7f2d7 off-White */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #efe9e3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 95%;
  margin: auto;
  padding-top: 0;
}
