/* color-Palette
#0084e3 blue
#fc0230 red
#eee3d2 off-White
#eebdbe Rosa
 */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@font-face {
  font-family: "Baking-Sauce";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/BakingSauce-gxVW3.otf");
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadow-float {
  0% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  }
  50% {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
  }
  100% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}
body {
  padding-top: 5.5rem;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: #eee3d2;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 98%;
  margin: auto;
  padding-top: 0;
}
li {
  list-style: none;
}

html {
  font-size: 100%;
}

/* Extra large screens, TV (1201px and more) */
@media (min-width: 1201px) {
  html {
    font-size: 110%;
  }
}

/* Desktops, large screens (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

/* iPads, Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* Mobile devices (320px - 480px) */
@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
  body {
    padding-top: 4rem;
  }
}
