/* color-Palette
#0084e3 blue
#fc0230 red
#eee3d2 off-White
#eebdbe Rosa
 */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@font-face {
  font-family: "Baking-Sauce";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/BakingSauce-gxVW3.otf");
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadow-float {
  0% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  }
  50% {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
  }
  100% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}
body {
  padding-top: 90px;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: #eee3d2;
  display: block;
}
.content {
  padding-top: 90px;
}
a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 95%;
  margin: auto;
  padding-top: 0;
}
/* button {
  all: unset; 
  cursor: pointer; 
} */
