.header {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.header-text-container {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-family: "Baking-Sauce";
  color: #fc0230;
  font-size: 25rem;
  line-height: 21rem;
  letter-spacing: -2rem;
  margin: 0;
  padding: 0;
}
.club-sticker {
  padding: 10px 50px;
  border-radius: 50px;
  border: solid 2px black;
  background-color: #eebdbe;
  box-shadow: -8px 8px 0px black;
  position: absolute;
  font-size: 1.5rem;
  top: 67%;
  left: 82%;
}
.hot_sticker {
  position: absolute;
  top: 42%;
  left: 80%;
  z-index: 99;
  width: 250px;
  animation: float 5s ease-in-out infinite, shadow-float 5s ease-in-out infinite;
}
.heart_sticker {
  position: absolute;
  bottom: 18%;
  left: 8%;
  z-index: 99;
  width: 120px;

  animation: float 5s ease-in-out infinite, shadow-float 5s ease-in-out infinite;
}
.header-button {
  padding: 10px 25px;
  border-radius: 50px;
  border: solid 2px black;
  background-color: #eebdbe;
  box-shadow: -8px 8px 0px black;
  position: absolute;
  font-size: 1.5rem;
  bottom: 8%;
  left: 3%;
  animation: float 7s ease-in-out infinite, shadow-float 7s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadow-float {
  0% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  }
  50% {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
  }
  100% {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  }
}
