.header {
  width: 100%; /* Ensures it spans the full width */
  margin: 0px auto; /* Centers it horizontally with auto margins and provides vertical spacing */
  text-align: center; /* Aligns any inline content or text to the center */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
  position: relative;
}

.img-container {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.header-img {
  margin: auto;
  width: 100%; /* Scale width to fit the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures the entire image fits within the container */
  position: absolute; /* Positioned relative to .img-container */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
